<%= form_for(@admin) do |f| %>
  <%= render :partial => "layouts/error_block", :locals => {:object => @admin} %>
  <div class="field">
    <%= f.label :username, raw("<span class='bold'>*</span> Username") %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password, raw("<span class='bold'>*</span> Password") %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
		<%= f.label :password_confirmation, raw("<span class='bold'>*</span> Password Confirmation") %><br />
		<%= f.password_field :password_confirmation, :class => "form_tip validate(match(#user_password))", :title => "Enter Password Again"  %>
	</div>
  <div class="button_field">
    <%= f.submit button_text, :class => "btn" %>
  </div>
<% end %>
