<%= form_for(@issue, :html => {:multipart => true}) do |f| %>
  <%= render :partial => "layouts/error_block", :locals => {:object => @issue} %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
		<%= f.check_box :active %>
		<%= f.label :active, "Active Issue?" %><br />
  </div>
  <div class="field">
    <%= f.label :issue_cover, "Add Cover (img should be 420x370)" %><br />
    <%= f.file_field :issue_cover, :size => 16 %>
  </div>
  <div class="button_field">
    <%= f.submit button_text, :class => "btn" %>
  </div>
<% end %>
