<% content_for :title do %>
  Contact Us for more information on Profiler Magazine
<% end %>

<% content_for :banner do %>
  <div class="issue_banner">
    <%= image_tag("issue_covers.png", :alt => "Profiler Magazine") %>
    <div class="banner_content">
      <h2 class="form_header">We want to hear from you.</h2>
      <%= form_tag("http://www2.hcinsight.com/l/1492/2011-01-11/JLL7N", :method => "post", :id => "profiler_form") do %>
        <div class="visible_field">
          <%= label :profiler, :profiler_first_name, "First Name *" %><br />
          <%= text_field :profiler, :profiler_first_name, :name => "profiler_first_name" %>
        </div>
        <div class="visible_field">
          <%= label :profiler, :profiler_last_name, "Last Name *" %><br />
          <%= text_field :profiler, :profiler_last_name, :name => "profiler_last_name" %>
        </div>
        <div class="visible_field">
          <%= label :profiler, :profiler_email, "Email Address *" %><br />
          <%= text_field :profiler, :profiler_email, :name => "profiler_email" %>
        </div>
        <div class="visible_field">
          <%= label :profiler, :business_name, "Company *" %><br />
          <%= text_field :profiler, :business_name, :name => "profiler_business_name" %>
        </div>
        <div class="visible_field">
          <%= label :profiler, :comment, "Comments" %><br />
          <%= text_area :profiler, :comment, :name => "profiler_us_comment", :rows => 3, :cols => 28   %>
        </div>
        <div class="clearfix"></div>
        <%= submit_tag 'Submit', :class => "btn_small", :title => "Submit Your Message to HealthCare Insight" %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="article_boxes" class="clearfix">
  <div class="contact_location">
    <p class="light_grey">Profiler Magazine</p>
    <h2 class="red">Operating Hours</h2>
    <p>
      7:00 A.M. - 6:00 P.M. (MST)<br/>
      Monday - Friday<br/>
      Toll Free - 877-619-5557<br/>
    </p>
  </div>
  <div class="contact_location">
    <p class="light_grey">Main Offices</p>
    <h2 class="red">Salt Lake City</h2>
    <p>
      10897 S. River Front Parkway, Suite 200<br/>
      South Jordan, Utah 84095<br/>
      P 801-285-5800  F 801-285-5801<br/>
    </p>
  </div>
  <div class="contact_location">
    <p class="light_grey">Branch Offices</p>
    <h2 class="red">St George</h2>
    <p>
      912 West 1600 South<br/>
      St. George, Utah 84770<br/>
      P 435-215-2280  F 435-215-2299<br/>
    </p>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      form.customSelect();
      ajax.indexSelectTrigger();
      app.shareLinks();
    });
  </script>
<% end %>