<% content_for :title do %>
  The nation's only magazine dedicated identifying and helping prevent fraud, abuse and overpayment.
<% end %>

<% content_for :banner do %>
  
<% end %>

<h3 class="articles_header red">Articles</h3>
<div id="article_boxes" class="clearfix">
  <div class="article_box yellow">
    <%= image_tag('demo_article_image.png', :alt => "Demo Article Image") %>
    <h4>Article Title</h4>
    <%= link_to "View Article", "" %>
  </div>
  <div class="article_box green">
    <%= image_tag('demo_article_image.png', :alt => "Demo Article Image") %>
    <h4>Article Title</h4>
    <%= link_to "View Article", "" %>
  </div>
  <div class="article_box red">
    <%= image_tag('demo_article_image.png', :alt => "Demo Article Image") %>
    <h4>Article Title</h4>
    <%= link_to "View Article", "" %>
  </div>
  <div class="article_box blue">
    <%= image_tag('demo_article_image.png', :alt => "Demo Article Image") %>
    <h4>Article Title</h4>
    <%= link_to "View Article", "" %>
  </div>
  <div class="article_box purple">
    <%= image_tag('demo_article_image.png', :alt => "Demo Article Image") %>
    <h4>Article Title</h4>
    <%= link_to "View Article", "" %>
  </div>
  <div class="article_box brown">
    <%= image_tag('demo_article_image.png', :alt => "Demo Article Image") %>
    <h4>Article Title</h4>
    <%= link_to "View Article", "" %>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      form.customSelect();
    });
  </script>
<% end %>