<title><%= "Profiler Magazine " + h(yield(:title)) %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="<%= h(yield(:description) || "Profiler Magazine is the nation's only magazine dedicated to helping public and private sector health care claims payors identify and prevent fraud, abuse and overpayment.") %>">
<meta name="keywords" content="<%= h(yield(:keywords) || "medicare and medicaid,
medicare and medicaid fraud and abuse,
reporting insurance fraud,
dental insurance fraud,
health care fraud attorney,
medicaid fraud statistics,
insurance fraud detection,
medicare fraud waste and abuse,
medicaid fraud penalties,
medicaid fraud control unit,
home health care fraud,
medical insurance fraud cases,
report fraud,
report medicaid fraud,
medical fraud and abuse,
insurance fraud punishment,
reporting medicaid fraud,
fraud investigation,
medicaid,
fraud cases,
medicare,
health care fraud report,
prescription fraud,
medicare fee schedule,
medicaid fraud magazine,
medicare fraud magazine,
physician fraud magazine,
pharmacy fraud magazine,
dental fraud magazine,
health care fraud magazine,
medicaid fraud articles,
medicare fraud articles,
physician fraud articles,
pharmacy fraud articles,
dental fraud articles,
health care fraud articles,
medicaid fraud,
medicare fraud,
physician fraud,
pharmacy fraud,
dental fraud,
health care fraud,
medical insurance fraud,
insurance fraud,
health insurance fraud,
report medicare fraud,
medicare medicaid fraud,
medicaid fraud reporting,
medicare fraud statistics,
medicare billing fraud,
insurance fraud cases,
health care fraud cases,
medical fraud,
healthcare fraud,
medicare fraud and abuse,
health care fraud and abuse,
medicare fraud attorney,
medical billing fraud,
medicaid fraud new york,
health fraud,
fraud attorney,
healthcare fraud and abuse,
insurance fraud investigation,
medicaid fraud and abuse,
medical fraud cases") %>">
<meta name="copyright" content="Copyright 2011 Profiler Magazine">
<meta name="title" CONTENT="Profiler Magazine">
<link ref="shortcut icon" href="favicon.ico"   type="image/ico" />

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'application' %>
<!--[if IE ]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE.css" />
<![endif]-->

<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
<%= javascript_include_tag "modernizr", "browser_css" %>
